{% extends 'template.html' %}
{% block content %}
        <table>
            <thead>
                <tr>
                    <th colspan="2"></th>
                    {% for monthd in months %}
                        <th>
                            <a href="budget?month={{ monthd }}">
                            {{ monthd }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for category in data %}
                    {% for title in data[category] %}
                        <tr>
                            {% if category[0:5] == "TOTAL" %}
                            <th colspan="2" align="right">{{ category }}</th>
                            {% else %}
                            <th >{{ category }}</th>
                            <th>{{ title if title }}</th>
                            {% endif %}

                            {% for monthd in data[category][title] %}
                                {% set budget = data[category][title][monthd]["budget3"] %}
                                {% set amount = data[category][title][monthd]["amount3"] %}
                                {% set pred = data[category][title][monthd]["pred3"] %}
                                {% set bgcolor = "LightGray" if budget == 0 and amount == 0 else "YellowGreen" if amount - budget >= 1 else "Salmon" if budget - amount >= 1 else "LightBlue" %}
                                {% if data[category][title][monthd]["ord"] == 4 and amount != 0 %}
                                    {% set bgcolor = "Yellow" %}
                                {% endif %}
                                <td class="number" style="background: {{bgcolor}}">
                                    {% if category[0:5] == "TOTAL" %}<b>{% endif %}
                                    <a href="transactions?month={{monthd}}&category={{category}}&title={{title if title }}">
                                    {{ "{:.2f}".format(amount) }} {% if pred == 1 %}*{% endif %}
                                    <br> <font size="-3">bdgt {{ "{:.2f}".format(budget) }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        {{ sum }}
{% endblock %}
