{% extends 'template.html' %}
{% block content %}
        <table>
            <thead>
                <tr>
                    <th colspan="2"></th>
                    {% for monthd in months %}
                        <th>
                            <a href="budget?month={{ monthd }}">
                            {{ monthd }}
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for category in data %}
                    {% for title in data[category] %}
                        <tr>
                            {% if category[0:7] == "BALANCE" %}
                            <th colspan="2" align="right" style="font-style: italic; text-align: center">{{ category }}</th>
                            {% else %}
                            <th >{{ category }}</th>
                            <th>{{ title if title }}</th>
                            {% endif %}

                            {% for monthd in data[category][title] %}
                                {% set budget = data[category][title][monthd]["budget"] %}
                                {% set spent = data[category][title][monthd]["spent"] %}
                                {% set row = {"budget": budget, "spent": spent} %}
                                {% set bgcolor = "LightGray" if row['budget'] == 0 and row['spent'] == 0 else "Yellow" if row['spent'] == 0 else "YellowGreen" if row['spent'] > row['budget'] else "Salmon" if row['spent'] +1 < row['budget'] else "LightBlue" %}
                    
                                <td class="number" style="background: {{bgcolor}}">
                                    {% if category[0:7] == "BALANCE" %}<span style="font-style: italic;">{% endif %}
                                    <a href="transactions?month={{monthd}}&category={{category}}&title={{title if title }}">
                                    {{ "{:.2f}".format(spent) }} {% if pred == 1 %}*{% endif %}
                                    <br> <font size="-3">bdgt {{ "{:.2f}".format(budget) }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        {{ sum }}
{% endblock %}
