{% extends 'template.html' %}
{% block content %}
<h2><a href="budget?month={{month}}">{{ month }}</a> </h2>
<a href="transactions?month=&category={{ category }}&title={{ title }}">All transactions of this category</a> 
<br/><br/>
<table>
    <thead>
        <tr>
            <th>
                <a href="transactions?month={{month}}&category={{category}}&title={{title}}&order=date">
                DATE</a>
            </th>
            <th>DESCRIPTION</th>
            <th>ON</th>
            <th>CATEGORY</th>
            <th>TITLE</th>
            <th>
                <a href="transactions?month={{month}}&category={{category}}&title={{title}}&order=amount">
                AMOUNT</a>
            </th>
            <th>BALANCE</th>
        </tr>
    </thead>
    <tbody>
        {% for row in transactions %}
        <tr>
            <td>{{ row.date }}</td>
            <td>{{ row.description }}</td>
            <td>{{ row.realdate }}</td>
            <td>{{ row.category }}</td>
            <td>{{ row.title if row.title}}</td>
            <td class="number">{{ "{:.2f}".format(row.amount) }}</td>
            <td class="number">{{ "{:.2f}".format(row.balance) }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}